@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&amp;display=swap");

.greeting {
  font-weight: 500;
  font-size: 1.9rem;
}
.addInput {
  font-size: 0.9rem;
  width: 100%;
  border: 2px solid black;
  padding: 0.4rem;
  margin: 0.4rem;
  border-radius: 0.4rem;
  resize: none;
  overflow: auto;
}
.addContainer {
  display: flex;
  align-items: center;
}
.addSubContainer {
  margin: 1rem;
  display: flex;
}
.codeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userImg {
  width: 2.5rem;
  border-radius: 100%;
}

.input {
  position: relative;
  min-width: 1.5em;
  min-height: 1.5em;
  color: #363839;
  border: 1px solid #bdc1c6;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

.input[type="checkbox"]:checked {
  background: #0070f3;
}

.input[type="checkbox"]:checked ~ label::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.label {
  position: relative;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 600;
  padding: 0 0.35em 0;
  user-select: none;
  width: 100%;
}
.completed {
  content: attr(data-content);
  cursor: pointer;
  color: #9c9e9f;
  text-decoration: line-through;
  text-decoration-color: #363839;
  transition: clip-path 200ms cubic-bezier(0.45, 0.46, 0.45, 0.94);
  font-size: 1.1em;
  padding: 0 0.35em 0;
  width: fit-content;
  height: fit-content;
  font-weight: 600;
}
.todoMain {
  display: flex;
  align-items: center;
  padding: 1.2rem;
  cursor: pointer;
  overflow-wrap: anywhere;
}
.remove {
  display: flex;
  align-items: center;
  position: relative;
  right: 0.4rem;
}
.sortContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .sortContainer {
    flex-direction: column;
  }
}
.sort {
  display: flex;
  align-items: center;
}

.sortButton {
  border: 2px solid black;
  border-radius: 10px;
  margin: 1rem 0.6rem;
  padding: 0.2rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.sortButton:hover {
  color: #0070f3;
  border: 2px solid #0070f3;
  transform: translateY(-0.15rem);
  transition: ease-in-out 100ms;
}

.highlightButton {
  box-shadow: 0 0 5px 5px #3792cb, 0 0 2px 2px #296bfe;
}

.listOption {
  cursor: pointer;
  border-left: #444 2px solid;
  overflow-wrap: anywhere;
  margin-top: 0.35rem;
  padding-left: 0.2rem;
}

@media screen and (max-width: 1000px) {
  .addContainer {
    flex-direction: column;
  }
  .addSubContainer {
    margin-left: 0;
  }
}
